<body>
  <div class="container"  *ngIf="currentBlog">
    <div class="row">
      <div class="col-md-12">
        <h2>{{currentBlog.title}}</h2>
        <!-- <small>blog number - {{currentBlog.blogId}}</small> -->
        <p>posted by {{currentBlog.author}} on {{currentBlog.created | date}}</p>
        <p *ngIf="currentBlog.tags.length>0">tags : <span
            *ngFor="let tag of currentBlog.tags;let first=first;let last=last">{{tag}}{{last ? '' : ', '}}</span></p>
        <hr>
        <div [innerHtml]="currentBlog.bodyHtml"></div>
        <hr>
        <h5>category - {{currentBlog.author}}</h5>
      </div>
    </div>
    <hr>
    <div class="row" >
      <div class="col-md-4">

        <div class="btn btn-primary" [routerLink]="['/edit', currentBlog.blogId]" >Edit </div>

      </div>
      <div class="col-md-4">

        <div class="btn btn-danger" (click)="deleteMyBlog()">Delete </div>

      </div>
      <div class="col-md-4">

        <div class="btn btn-warning" (click)="goBackToPreviousPage()" >Go Back </div>
      </div>
    </div>

  </div>
</body>