<div class="body">
    <div class="header">
        <div class="header__title">
            Welcome to Blog Application
        </div>
    </div>

    <div class="navstyle">
        <ul class="ul">
            <li>
                <a [routerLink]="['\home']">Home <span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a [routerLink]="['\about']">About</a>
            </li>
            <li>
                <a [routerLink]="['\create']">Post a blog</a>
            </li>
        </ul>
    </div>
</div>

<router-outlet></router-outlet>