<div class="content">
  <div *ngIf="allBlogs.length>0">
    <div>
      <div class="title">All Blogs </div>
    </div>
    <div class="blogcreate">
      <a [routerLink]="['/create']">Have a blog in mind?</a>
    </div>
    <div class="allBlogs">
      <div class="blog__box" *ngFor="let blog of allBlogs;index as i;odd as odd;even as even">
        <div class="blog__body">
          <div class="blog__title">{{blog.title | uppercase}}</div>
          <div class="blog__description">
            <p>{{blog.category}}</p>
            <p>{{blog.description}}</p>
          </div>
          <div class="blog__creator">Posted on {{blog.created | date}}<br> by {{blog.author}}
            <a [routerLink]="['/blog',blog.blogId]" class="blog__link">Read</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>